@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light;
}


.custom-bg{
  @apply bg-[#111621];
}

[data-theme='light'] .custom-bg {
  @apply bg-[#F8F9FA];
}

.my-button-primary{
  @apply btn btn-primary;
}


a.active{
  @apply text-blue-600 font-bold;
}