@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light;
}

[data-theme='dark'] {
  --bg-primary: #111621;
  --bg-secondary: #1a1f2e;
  --text-primary: #ffffff;
  --text-secondary: #cfd3da;
  --border-color: #374151;
  --add-btn-bg: transparent;
  --add-btn-border:1px solid #dad3d6;
  --add-btn-text: #dad3d6;
  --add-btn-hover-bg: white;
  --add-btn-hover-text: black;
  --add-btn-hover-opacity: 0.7;
  --input-bg: #1F2937;
  --form-bg: #111621;
  --form-border: 1px solid #374151;
  --card-bg: #1e1e2f;
  --row-border: 1px solid #374151;
}

[data-theme='light'] {
  --bg-primary: #F8F9FA;
  --bg-secondary: #ffffff;
  --text-primary: #111827;
  --text-secondary: #0c0d0e;
  --border-color: #e5e7eb;
  --add-btn-bg: #DE2A8A;
  --add-btn-border:none;
  --add-btn-text: #ffffff;
  --add-btn-hover-bg: #DE2A8A;
  --add-btn-hover-text: #ffffff;
  --add-btn-hover-opacity: 0.8;
  --input-bg: #ffffff;
  --form-bg: #ffffff;
  --form-border: 1px solid #e0e1e6;
  --card-bg: #f5f0f0;
  --row-border: 1px solid #e5e7eb;
}

.custom-bg {
  background-color: var(--bg-primary);
}

.my-navbar{
  @apply flex items-center justify-between py-4;
  border-bottom: 1px solid var(--border-color);
}

.text-navlink {
  color: var(--text-secondary);
}

.text-navlink:hover {
  color: var(--text-primary);
  @apply font-semibold underline;
}

a.active {
  @apply font-bold;
  color: var(--text-primary);
}

.my-button-primary {
  @apply btn btn-primary px-5 rounded-lg;
}

.my-button-secondary {
  @apply btn btn-outline btn-secondary px-5 rounded-lg;
}

.logo-color {
  @apply text-[#336ee4];
}

.banner-button-add{
  @apply btn rounded-lg font-bold;
  background: var(--add-btn-bg);
  border:var(--add-btn-border);
  color: var(--add-btn-text);
}

.banner-button-add:hover{
  opacity: var(--add-btn-hover-opacity);
  background: var(--add-btn-hover-bg);
  color: var(--add-btn-hover-text);
  @apply scale-105 transition-transform duration-100;
}

.form-container{
  background-color: var(--form-bg);
  border: var(--form-border);
  @apply  mx-auto my-16 flex flex-col rounded-lg p-8 shadow-lg;
}

.input{
  background-color: var(--input-bg);
  @apply w-full outline-0 rounded-lg;
}


.card-container{
  background-color: var(--card-bg);
  @apply rounded-xl overflow-hidden shadow-lg text-white w-full hover:cursor-pointer hover:scale-105 transition-transform duration-300;
}

.text-primary{
  color: var(--text-primary);
}

.text-secondary{
  color: var(--text-secondary);
}


.row-border{
  border: var(--row-border);
}

.border-bottom{
  border-bottom: 1px solid var(--border-color);
}