@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light;
}

[data-theme='dark'] {
  --bg-primary: #111621;
  --bg-secondary: #1a1f2e;
  --text-primary: #ffffff;
  --text-secondary: #cfd3da;
  --border-color: #374151;
}

[data-theme='light'] {
  --bg-primary: #F8F9FA;
  --bg-secondary: #ffffff;
  --text-primary: #111827;
  --text-secondary: #0c0d0e;
  --border-color: #e5e7eb;
}

.custom-bg {
  background-color: var(--bg-primary);
}

.my-navbar{
  @apply flex items-center justify-between py-4;
  border-bottom: 1px solid var(--border-color);
}

.text-navlink {
  color: var(--text-secondary);
}

.text-navlink:hover {
  color: var(--text-primary);
  @apply font-semibold underline;
}

a.active {
  @apply font-bold;
  color: var(--text-primary);
}

.my-button-primary {
  @apply btn btn-primary px-5 rounded-lg;
}

.my-button-secondary {
  @apply btn btn-outline btn-secondary px-5 rounded-lg;
}

.logo-color {
  @apply text-[#336ee4];
}
